@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Sample Device Application</h1>
    <p>This app represents a client device/machine.</p>
</div>
